<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hbck.hospital">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.DetailActivity" />
        <activity android:name=".activity.SelectCellActivity" />
        <activity android:name=".activity.YuYueActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.SelectDoctorActivity" />
        <activity android:name=".activity.DoctorDetailActivity" />
        <activity android:name=".activity.ConfirmOrderActivity" />
        <activity android:name=".activity.OrderDetailActivity" />
        <activity android:name=".activity.OrderListActivity"></activity>
    </application>

</manifest>